{% load static %}
<html>
    <head>
        <title>Pitaguary Blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        
    </head>
    <body>
        <div class="page-header">
            <h1><a href="#">Pitaguary Blog</a></h1>
            <a class="voltar" href="index.html"><i class="material-icons">arrow_back</i>Voltar</a>
        </div>

        <div class="content container">
    <div class="row">
        <div class="col-md-8">
            {% for post in posts %}
                <div class="post">
                    <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
                    <span>Publicado por: {{post.author}}</span>
                    <p>{{ post.text|linebreaksbr }}</p>
                    <div class="date">
                        <p>Publicado: {{ post.published_date }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
    </body>
</html>